h2, h4, h3 {
    text-align: center;
    margin-bottom: 30px;
}
.wrap {
    display: block;
    width: 38rem;
    margin: 0 auto;
    margin-bottom: 35px;
    
}

ingrediants{
    display: block;
    
}
.legumes {
    display: inline;
    width:8rem;  
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgb(137, 132, 132);
    margin-left: 15px; 
    margin-bottom: 20px;
    
}
.temps {
    font-size: 1.6rem;
    margin-bottom: 60px;
}
.float {
    float: inline-start;  
    font-size: 1.6rem;
}


.nomLegumes{
   margin-bottom: 20ppx;
    font-size: 1.3rem;
  
    
    
}
.depaRecette {
    width: 200px;
    margin: 0 auto;
    background-color: rgba(243, 243, 239, 0.579);
    margin-bottom: 25px;
    margin-top: 40px;
    font-size: 1.2 rem;
}
.cardexplic{
    width: 65%;
    margin: 0 auto;
   
}
.cardexplic h5 {
    text-transform: uppercase;
}
.card-text {
    font-style: 18px;
}
