.footer {
    background-color: red;
    height: 50px;
    margin-top: 45px;
}
.footer p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 20px;
    padding: 12px;
}