h2, h4 {
    text-align: center;
    margin-bottom: 30px;
}
.salade {
    display: block;
    width: 25rem;
    margin: 0 auto;
    margin-bottom: 35px;
    
}

.legumes {
    display: flex;
    justify-content: space-around;
    width:10rem;  
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgb(137, 132, 132);
    
    margin-right: 50px;  
}
.liste{
    display: flex;
    justify-content: space-around;
    list-style: none;
   width: 70%;
   margin: 0 auto;
}
.ingrediants {
    width:10rem;
    margin-bottom: 6px;
}
.nomLegumes{
    margin-left: 18px;
    font-size: 1.3
    rem;
}
.depaRecette {
    width: 200px;
    margin: 0 auto;
    background-color: rgba(243, 243, 239, 0.579);
    margin-bottom: 25px;
    margin-top: 40px;
}
.cardexplic{
    width: 65%;
    margin: 0 auto;
    z-index: 0;
}
.cardexplic h5 {
    text-transform: uppercase;
}
